.xrowslideshow .interaction
{
    display: block;
    position: relative;
}

.xrowslideshow .interaction .backward
{
    position: absolute;
    top: 0;
    left: 0;
}

.xrowslideshow .interaction .forward
{
    top: 0;
    right: 0;
    position: absolute;
}

.xrowslideshow > div
{
    overflow: hidden;
    margin: 10px 45px;
    padding: 0;
}

.xrowslideshow > div > div
{
    top: 0;
    position: relative;
    width: 10000%;
}

.xrowslideshow > div .slide
{
    display: block;
    float: left;
    width: 0.25%;
}

.xrowslideshow .indicator
{
    position: absolute;
    width: 100%;
}

.xrowslideshow .indicator span
{
    background-color: #606060;
    color: #fff;
    display: block;
    width: 18px;
    float: left;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    text-align: center;
}

.xrowslideshow .indicator span.active
{
    background-color: #eee;
    color: #606060;
}

.xrowslideshow
{
    position: relative;
}

.xrowslideshow .interaction .backward,
.xrowslideshow .interaction .forward
{
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 110px;
    filter: none !important;
    width: 45px;
    z-index: 1;
}

.xrowslideshow .backward
{
    background-image: url(../images/arrow-left.svg);
}

.xrowslideshow .forward
{
    background-image: url(../images/arrow-right.svg);
}